<% signups.each(function(signup) { %>
<tr>
  <td class="center"><%= signup.get('id') %></td>
  <td><strong><%= signup.get('email') %></strong></td>
  <td class="center"><%= signup.get('ip_address') %></td>
  <td class="center">
    <time class="timeago" title="<%= signup.get('created_at') %>">
      <%= moment(signup.get('created_at')).format("MMM DD, YYYY") %>
    </time>
  </td>
</tr>
<% }) %>
